<h1>Listing appt_requests</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Address</th>
    <th>Postcode</th>
    <th>City</th>
    <th>Requested for</th>
    <th>Client</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @appt_requests.each do |appt_request| %>
  <tr>
    <td><%= appt_request.name %></td>
    <td><%= appt_request.email %></td>
    <td><%= appt_request.phone %></td>
    <td><%= appt_request.address %></td>
    <td><%= appt_request.postcode %></td>
    <td><%= appt_request.city %></td>
    <td><%= appt_request.requested_for %></td>
    <td><%= appt_request.client_id %></td>
    <td><%= link_to 'Show', appt_request %></td>
    <td><%= link_to 'Edit', edit_appt_request_path(appt_request) %></td>
    <td><%= link_to 'Destroy', appt_request, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Appt request', new_appt_request_path %>
