<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>A patient would like to request an appointment.</h1>
    <p>
    		<h2>Name: <%= @appt_request.name %></h2><br/>
  			Email: <%= @appt_request.email %><br/>
  			Phone: <%= @appt_request.phone %><br/>
        Address: <%= @appt_request.address %><br/>
        Requested for Date: <%= @appt_request.requested_for %><br/>
       
  			

    </p>
    <p>
    </p>
    <p>From your iPhone App :)</p>
  </body>
</html>