<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @subscription.name %>
</p>

<p>
  <b>Email:</b>
  <%= @subscription.email %>
</p>

<p>
  <b>Client:</b>
  <%= @subscription.client_id %>
</p>


<%= link_to 'Edit', edit_subscription_path(@subscription) %> |
<%= link_to 'Back', subscriptions_path %>
